.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.WorkSheet{
  position: relative;
  left: 40%;
  top : 0%;
  /*transform:  translate(-50%, 75%);*/
  width:328px;
  height:160px;
  outline: 4px solid black;
  line-height:100%;
  background-color: lightgray;
  border:none;
  border-radius:5px;
}
.WorkSheet p1{
  position: absolute;
  left: 10%;
  top : 5%;
  font-size: 16px;
}
.WorkSheet p2{
  position: absolute;
  left: 75%;
  top : 5%;
  font-size: 16px;
}

.WorkSheet p3{
  position: absolute;
  left: 0%;
  text-indent:60px;
  font-size: 12px;
}
.WorkSheet p4{
  position: absolute;
  left: 0%;
  text-indent:75px;
  font-size: 12px;
}

.WorkSheet p5{
  position: absolute;
  left: 6%;
  font-size: 16px;
}
.WorkSheet p6{
  position: absolute;
  left: 80%;
  font-size: 16px;
}

.WorkSheet button {
  width: 270px;
  height: 28px;
  font-size: 14px;
  background-color:white;
  border:none;
  border-radius:5px;
}
.WorkSheet button:hover {
  background-color:black;
  transition: 0.5s;
  color: white;
}


.WorkList{
  position: relative;
  left: 40%;
  top : 0%;
  /*transform:  translate(-50%, 195%);*/
  width:328px;
  height:160px;
  outline: 4px solid black;

  background-color: lightgray;
  border:none;
  border-radius:5px;
}
.WorkList p1{
  position: absolute;
  left: 0%;
  text-indent:20px;
  font-size: 16px;
}
.WorkList p2{
  position: absolute;
  left: 60%;
  color: red;
  font-size: 16px;
}
.WorkList p3{
  position: absolute;
  left: 80%;
  color: blue;
  font-size: 16px;
}




.adminOrder{
  position: relative;
  left: 40%;
  top : 0%;
  /*transform:  translate(-50%, 315%);*/
  width:328px;
  height:160px;
  outline: 4px solid black;

  background-color: lightgray;
  border:none;
  border-radius:5px;
}

.adminOrder p1{
  position: absolute;
  left: 0%;
  text-indent:20px;
  font-size: 16px;
}

 .bottom-buttons {
   position: relative;
   left: 39%;
   top : 150%;
   transform:  translate(0%, 1200%);

   width: 360px;
   height: 50px;
   display: flex;
   justify-content: center;
   border:none;
   border-radius:10px;
 }

.bottom-buttons button {
  width: 120px;
  height: 50px;
  font-size: 16px;
  border:none;
  border-radius:50px;
  outline: 1px solid black;
  margin-left:5px;
  margin-right:5px;
}

.bottom-buttons button:hover {
  background-color:black;
  transition: 0.5s;
  color: white;
}


.WorkOutSheet{
  position: relative;
  left: 40%;
  top : 0%;
  /*transform:  translate(-50%, 20%);*/
  width:328px;
  height:240px;
  outline: 4px solid black;
  line-height:150%;
  background-color: lightgray;
  border:none;
  border-radius:5px;
}

.WorkOutSheet p11{
  position: absolute;
  top : 10%;
  left : 0%;
  transform: translate(30%);
  font-size: 20px;
}

.WorkOutSheet p12{
  position: absolute;
  top : 30%;
  left : 0%;
  transform: translate(30%);
  font-size: 20px;
}

.WorkOutSheet p13{
  position: absolute;
  top : 50%;
  left : 0%;
  transform: translate(30%);
  font-size: 20px;
}

.WorkOutSheet p2{
  position: absolute;
  left: 70%;
  font-size: 20px;
}

.WorkOutSheet p21{
  position: absolute;
  left: 70%;
  top : 10%;
  font-size: 20px;
}

.WorkOutSheet p22{
  position: absolute;
  left: 70%;
  top : 30%;
  font-size: 20px;
}

.WorkOutSheet p3{
  position: absolute;
  left: 55%;
  font-size: 20px;
}

.WorkOutSheet p33{
  position: absolute;
  left: 55%;
  top : 50%;
  font-size: 20px;
}


.WorkOutsubButton{
  position: relative;
  left: -5%;
  top : 140%;
  /*transform:  translate(-50%, -120%);*/

  width: 360px;
  height: 50px;
  display: flex;
  justify-content: center;
  border:none;
  border-radius:10px;
}

.WorkOutsubButton button{
  width: 128px;
  height: 48px;
  font-size: 24px;
  background-color:white;
  border:none;
  border-radius:5px;
  margin-left: 5px;
  margin-right: 5px;
  outline: 2px solid black;
}
.WorkOutsubButton button:hover {
  background-color:black;
  transition: 0.5s;
  color: white;
}

.Memo {
  vertical-align: middle;
}

.Memo textarea {
  resize: none;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  width: 600px;
  height: 350px;
  font-size: 24px;
}

.Memo p1 button{
  width: 270px;
  height: 28px;
  font-size: 14px;
  background-color:lightgray;
  border:none;
  border-radius:5px;
  margin-right: 5px;
  margin-left: 5px;
  outline: 1px solid black;
}
.Memo button:hover {
  background-color:black;
  transition: 0.5s;
  color: white;
}

.Kudobby now{
  position: absolute;
  left: 50%;
  top : 0%;
  transform:  translate(-45%, 20%);
  width:328px;
  height:240px;
  outline: 4px solid black;
  line-height:150%;
  background-color: lightgray;
  border:none;
  border-radius:5px;
  font-size: 20px
}

/*.Kudobby now textarea{*/
/*  position: absolute;*/
/*  left: 55%;*/
/*  top : 50%;*/
/*  font-size: 20px;*/
/*}*/

.Kudobby ranker{
  position: absolute;
  left: 50%;
  top : 40%;
  transform:  translate(-45%, 0%);
  width:328px;
  height:240px;
  outline: 4px solid black;
  line-height:150%;
  background-color: lightgray;
  border:none;
  border-radius:5px;
  font-size: 20px
}